@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

:root {
        --mb:#1b1b1d;
        --mf:#959595;
        --mh:#4a5245;
}

a:link, a, a:visited, a:active {
        text-decoration:none;
        color: var(--mf)
  }

a:hover {
        text-decoration:none;
        color: var(--mh);
  }

img {
        margin-top: 5px;
        margin-bottom: 5px;
}

html, body {
  font-family: 'Fira Mono', monospace;
  background-color: var(--mb);
  color: var(--mf);
}

#block {
        max-width:100%;
        margin: auto;
        background-color: var(--mf);
        height: 5px;
}

.content {
        margin-top: 5px;
        margin-bottom: 5px;
}

ul {
        list-style:none;
}

.page {
  width: 90%;
  max-width:100%;
  margin: auto;
  min-height:100%;
  /*padding: 50px;*/
}
img {
        width:100%;
        margin: auto;
        
}

.foot, .header {
   width: 100%;
   overflow: hidden;
   letter-spacing:0px;
   display:inline-block;
}



.link {
        padding: 3px;
        margin: 3px;
}

@media only screen and (max-width:500px) {
        .page {
                width:100%;
                padding:0px;
                margin:0px;
        }

        .header > h2,
        .header > pre,
        .content,
        .link{
                margin: 20px;
        }

}

@media only screen and (min-width:1100px) {
        .page {
                width:50%;
                margin: auto;
        }



}



