//Portfolio 


doctype html
html
  <!-- head -->
  include ./head.jade
body
    .page
      <!-- header -->
      include ./header.jade
      <!-- Content block -->
      .content
        ul
          li My name is Jason Eastman.
          li I live in the middle of the Rocky mountains, near Yellowstone National Park.
          li I fight grizzly bears with my bare hands.
          li I am extemely interested in Software engineering.
          li I am a software minimalism enthusiast.
      <!-- Footer -->
      include ./footer.jade 
