//Portfolio 


doctype html
html
  <!-- head -->
  include ./head.jade
body
    .page
      <!-- header -->
      include ./header.jade
      <!-- Content block -->
      .content
        pan This is my contact page.

      <!-- Footer -->
      include ./footer.jade 
