//Portfolio 


doctype html
html
  <!-- head -->
  include ./head.jade
body
    .page
      <!-- header -->
      include ./header.jade
      <!-- Content block -->
      .content
        ul
          li Email: eastman.jason.r@gmail.com
          li Twitter: @4a5245
      <!-- Footer -->
      include ./footer.jade 
