.foot
  #block
  pre.link
    a(href="About.html") About 
    span - 
    a(href="Contact.html") Contact 
    span - 
    a(href="index.html") JRE 
    span -
    a(href="https://github.com/jreastman/jreastman.github.io") This site's code  
