//Portfolio 


doctype html
html
  <!-- head -->
  include ./head.jade
body
    .page
      <!-- header -->
      include ./header.jade
      <!-- Content block -->
      include ./content.jade
      <!-- Footer -->
      include ./footer.jade 
