//Portfolio 


doctype html
html
  <!-- head -->
  head
    meta(charset="utf-8")
    title //JRE
    link(href="global.css", rel="stylesheet")
    script(src="ind.js")
  body
    .page
      <!-- header -->
      .header
        h1 //JRE
        .block
      
      <!-- Content block -->
      div
        h3 main content list
      
      <!-- Footer -->
      
      .foot
       .block
       a(href="#") |About
       a(href="#") |Contact
       a(href="index.html") |JRE
