//Portfolio 


doctype html
html
  <!-- head -->
  head
    meta(charset="utf-8")
    title //JRE
    link(href="global.css", rel="stylesheet")
    script(src="jquery-3.3.1.js")
    script(src="jquery-ui.js")
    script(src="ind.js")
  body
    .page
      <!-- header -->
      .header
        h2#change //JRE
        pre Jason Eastman
        #block
      
      <!-- Content block -->
      .content
        h3 main content list
      
      <!-- Footer -->
      
      .foot
        #block
        pre.link
            a(href="#") About
            a(href="#") -Contact
            a(href="index.html") -JRE
