//Portfolio 


doctype html
html
  // head, eventually seperated into head.jade
  head
    meta(charset="utf-8")
    title //JRE
    link(href="global.css", rel="stylesheet")
  body
    .page
      
      .head
        h1 //JRE
        p head
      
      div
        h3 main content list
      
      .foot
       a(href="#") |About
       a(href="#") |Contact
       a(href="index.html") |JRE
